<%# 使用していない %>
<li id="stock-<%= stock.id %>">
  <span class="num">行動 : <%= 'buy' == stock.action ? '購入' : '売却' %></span>
  <span class="num">保有株数 : <%= stock.num %> 株</span>
  <span class="first_price">買値 : <%= stock.price %> 円</span>
  <span class="num">購入日時 : <%= time_ago_in_words stock.created_at %>前 </span>

</li>