<h1>Stocks#edit</h1>

<%= form_for @stock do |f| %>

    <%= f.number_field :num, placeholder: '保有株数', value: @stock.num %>

    <%= f.number_field :first_price, placeholder: '買値', value: @stock.first_price %>

    <!--
    ユーザーIDをセッションから取得
    <%= # f.hidden_field :user_id, value: session[:user_id] %>
    -->

    <!-- company_idパラメータを取ってくる -->
    <%= f.hidden_field :company_id, value: params[:company_id] %>

    <%= f.submit '登録' %>

<% end %>