<h1>持ち株に登録</h1>

<%= form_for @stock do |f| %>

    <%= f.label @company.name %>

    <%= f.number_field :num, placeholder: '保有株数' %>

    <%= f.number_field :first_price, placeholder: '買値' %>

    <%= f.hidden_field :user_id, value: session[:user_id] %>

    <!-- company_idパラメータを取ってくる -->
    <%= f.hidden_field :company_id, value: @company.id %>

    <%= f.submit '登録' %>

<% end %>
