
<h1>ユーザー新規登録</h1>

<%= form_for @user do |f| %>

    <%= f.text_field :name, placeholder: '名前' %>

    <%= f.email_field :email, placeholder: 'Eメール' %>

    <%= f.password_field :password, placeholder: 'パスワード' %>

    <p>確認のため、もう一度お願いします</p>
    <%= f.password_field :password_confirmation %>

    <%= f.submit '登録' %>

<% end %>
