<%= form_tag({ action: :search }, remote: true, id: 'form-ajax') do %>

    <div>
      <h3>会社検索</h3>

      <p>市場：<%= collection_select(:search, :market_id, Market.all, :id, :name, :include_blank => true) %> </p>

      <p>業種：<%= collection_select(:search, :industry_id, Industry.all, :id, :name, :include_blank => true) %></p>

      <p>企業名：<%= text_field :search, :company_name %> </p>

      <p>銘柄コード : <%= text_field :search, :stock_code %> </p>

      <%= submit_tag('検索') %>

    </div>
<% end %>