<h1>株式会社</h1>

<%= render 'common/form' %>

<table>
  <tr>
    <th>銘柄コード</th>
    <th>企業名</th>
    <th>市場</th>
    <th>業種</th>
  </tr>

  <% @companies.each do |company| %>
      <tr>
        <td><%= company.stock_code %></td>
        <td><%= link_to(company.name, company_path(company.id)) %></td>
        <td><%= company.market.name %></td>
        <td><%= company.industry.name %></td>
      </tr>
  <% end %>

  <%= paginate @companies %>
</table>