<%= link_to '戻る', companies_path %>

<h1><%= link_to(@company.name, @url)  %></h1>
<p><%= @company.stock_code %></p><p><%= @res[:genre] %></p>

<h2>現在の価格</h2>
<p><%= @res[:price] %>円 (<%= @res[:time] %>)</p>

<table>
  <tr>
    <th>前日終値</th>
    <td><%= @res[:prev_close] %></td>
    <td><%= @res[:prev_close_date] %></td>
  </tr>
  <tr>
    <th>始値</th>
    <td><%= @res[:open] %></td>
    <td><%= @res[:open_date] %></td>
  </tr>
  <tr>
    <th>高値</th>
    <td><%= @res[:high] %></td>
    <td><%= @res[:high_date] %></td>
  </tr>
  <tr>
    <th>安値</th>
    <td><%= @res[:low] %></td>
    <td><%= @res[:low_date] %></td>
  </tr>
  <tr>
    <th>出来高</th>
    <td><%= @res[:volume] %></td>
    <td><%= @res[:volume_date] %></td>
  </tr>
  <tr>
    <th>売買価格</th>
    <td><%= @res[:total_trade] %></td>
    <td><%= @res[:total_trade_date] %></td>
  </tr>
  <tr>
    <th>値幅制限</th>
    <td><%= @res[:price_limit] %></td>
    <td><%= @res[:price_limit_date] %></td>
  </tr>
</table>

<% if session[:user_id] %>
    <%= link_to '持ち株を登録する', new_stock_path(company_id: @company.stock_code) %>
<% end %>
