<h1><%= link_to(@company.name, @url)  %></h1>
<p><%= @company.stock_code %></p><p><%= @company.industry.name %></p>

<table>
  <tr>
    <th>現在値(時刻)</th>
    <td><%= @detail.price %></td>
  </tr>
  <tr>
    <th>前日比(％)</th>
    <td><%= @detail.change %></td>
  </tr>
  <tr>
    <th>前日終値</th>
    <td><%= @detail.prev_close_price %> 円</td>
  </tr>
  <tr>
    <th>始値</th>
    <td><%= @detail.open_price %> 円</td>
  </tr>
  <tr>
    <th>高値</th>
    <td><%= @detail.high_price %> 円</td>
  </tr>
  <tr>
    <th>安値</th>
    <td><%= @detail.low_price %> 円</td>
  </tr>
  <tr>
    <th>出来高</th>
    <td><%= @detail.volume %></td>
  </tr>
  <tr>
    <th>売買代金</th>
    <td><%= @detail.total_trade %> 円</td>
  </tr>
</table>

<br>

<ol>
  <% get_news_list(@company.stock_code).each do |article| %>
      <% if article[:url] == '' %>
          <span>表示できるニュースはありません。</span>
      <% else %>
          <li>
            <span><%= link_to article[:title], article[:url] %></span>
            <span>投稿日時 : <%= article[:date] %></span>
          </li>
      <% end %>
  <% end %>
</ol>

<% if session[:user_id] %>
    <% if @register_flag %>
        <p>既にこの企業は登録済みです</p>
    <% else %>
        <%#TODO ユーザのstock_listにこの企業を登録する %>
        <div class="stock-list-form">
          <%= form_for @stock_list do |f| %>
              <%= f.hidden_field :user_id, value: session[:user_id] %>
              <%= f.hidden_field :company_id, value: @company.id %>

              <%= f.submit 'この企業を登録する' %>
          <% end %>

        </div>
    <% end %>
    <br>

    <%# link_to '持ち株を登録する', new_stock_path(stock_code: @company.stock_code), class: 'btn btn-lg btn-lg btn-primary' %>
<% end %>
